<!doctype html>
<html lang="en">
<head>
    <title>QR Code Generator</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
        * {
            font-family: Montserrat;
        }
        body {
            margin: 10px;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center">QR Receipt</h1>
        <br>
        <h4>ORDER FORM</h4>
        <hr>
        <p>Enter order items here</p>
        <form action="/order" class="form" method="POST">
            <!-- <input name="orderID" type="text" class="form-control" placeholder="Order ID" required>
            <br> -->
            <input name="itemName" type="text" class="form-control" placeholder="Item Name" required>
            <br>
            <input name="price" type="Number" class="form-control" placeholder="Price" required>
            <br>
            <button type="submit" class="btn btn-primary" value="Submit Order">Submit</button>
        </form>      
        <br>
        <h4>GET QR CODE</h4>
        <form action="/qrcode" class="form" method="GET">
            <input name="order_id" type="Mumber" class="form-control" placeholder="Enter Order ID" required>
            <br>
            <button type="submit" class="btn btn-primary" value="Search QR Code">Get QR <Code></Code></button>
        </form>
        
        <hr>
        <h4>ADMIN</h4>
        <form action="/allorders" class="form" method="GET" >
            <button type="submit" class="btn btn-primary">GET ALL ORDERS</button>
        </form>
        <br>
        <form action="/deleteorders" class="form" method="POST">
            <button type="submit" class="btn btn-danger">DELETE ALL ORDERS</button>
        </form>
        
    </div>
</body>
</html>